<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="assets/images/icon.png" alt="" />
    <a class="navbar-brand"><b>GIPHY</b></a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a
          class="nav-item nav-link active"
          routerLink="home"
          routerLinkActive="active"
          >Trending<span class="sr-only"></span
        ></a>
        <a
          class="nav-item nav-link active"
          routerLink="about"
          routerLinkActive="active"
          >Entertainment</a
        >
        <a
          class="nav-item nav-link active"
          routerLink="home"
          routerLinkActive="active"
          >Sports<span class="sr-only"></span
        ></a>
        <a class="nav-item nav-link active" routerLink="about">Stickers</a>
        <a
          class="nav-item nav-link active"
          routerLink="home"
          routerLinkActive="active"
          >Artists<span class="sr-only"></span
        ></a>
        <a class="nav-item nav-link active" routerLink="about">More</a>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="">
      <div class="search">
        <input
          placeholder="@username + tag to search within a verified channel"
          class="form-control search-input"
          width="80%"
          name="title"
          #searchTerm
        />.
        <!-- Search Button -->
        <button class="btn btn-outline-success m-3 search-button">
          <i class="fa fa-search"></i>
        </button>
      </div>
      <div id="banner">
        <img
          src="https://media.giphy.com/headers/2021-05-20-14-1621520067/MHAD_BANNER_HP-v03.gif"
          width="100%"
          alt=""
        />
      </div>
      <br />
      <h5 class="">Trending Gifs</h5>
      <div class="giphy-images">
        <img
          class="gif-image"
          style="height: 280px; width: 280px"
          alt="Giphy"
        />
      </div>
    </div>
  </div>
</div>
